<div class="card">
    <div class="card-header">
        <h4>Add/Update product</h4>
    </div>
    <div class="card-body">
        <div class="form">
            <div class="form-group">
                <label for="">Title</label>
                <input [(ngModel)]="title" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input [(ngModel)]="price" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea [(ngModel)]="description" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button (click)="onUpdate()" class="btn btn-success">Update</button>
                <a style="margin-left: 10px;" routerLink="/product-list" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>