<div class="form">
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button (click)="onLogin()" class="btn btn-success">Login</button>
                <a routetLink="/auth/register" class="btn btn-warning float-right">Create Account</a>

            </div>

        </div>
        <div class="col-md-4"></div>

    </div>

</div>

<!-- <div class="form">
    <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="email" type="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control">
    </div>
    <div class="form-group">    
        <button (click)="onLogin()" class="btn btn-success">Login</button>
        <a routerLink="/signup" class="btn btn-warning float-right">Signup</a>

    </div>

</div> -->