<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form">
            <div class="form-group">
                <label for="">Firstname</label>
                <input [(ngModel)]="firstname" type="text" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="">Lastname</label>
                <input [(ngModel)]="lastname" type="text" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="">Address</label>
                <input [(ngModel)]="address" type="text" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="">Contact</label>
                <input [(ngModel)]="contact" type="tel" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="form-group">    
                <button (click)="onRegister()" class="btn btn-success">Register</button>
                <a routerLink="/auth/login" class="btn btn-warning float-right">Login</a>
        
            </div>
        
        </div>
    </div>
    <div class="col-md-4"></div>

</div>

