<div class="container">


  <!-- <a class="btn btn-link" routerLink="/product-list">Product-list</a>
  <a class="btn btn-link" routerLink="/product-add">Add Product</a>
  <a class="btn btn-link" routerLink="/category-list">Category list</a>
  <a class="btn btn-link" routerLink="/brand-list">List of brands</a>
  <a class="btn btn-link" routerLink="/my-orders">My orders</a>
  <a class="btn btn-link" routerLink="/about-us">About us</a> -->



  <button (click)="gotoPage(1)" class="btn btn-success">Product List</button>
  <button (click)="gotoPage(2)" style="margin-left: 10px;" class="btn btn-success">Add Product</button>
  <button (click)="gotoPage(3)" style="margin-left: 10px;" class="btn btn-success">List of categories</button>
  <button (click)="gotoPage(4)" style="margin-left: 10px;" class="btn btn-success">List of brand</button>
  <button (click)="gotoPage(5)" style="margin-left: 10px;" class="btn btn-success">My orders</button>
  <button (click)="gotoPage(6)" style="margin-left: 10px;" class="btn btn-success">About us</button>


  <!-- <app-product-list></app-product-list> -->
  <!-- <app-product-add></app-product-add> -->

  <router-outlet></router-outlet>
</div>