<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" >Home</a></li>
        <li class="nav-item"><a class="nav-link" >Faculty</a></li>
        <li class="nav-item"><a class="nav-link" >Student</a></li>
        <li class="nav-item"><a class="nav-link" >Classroom</a></li>
        <!-- <li class="nav-item"><a class="nav-link">Logout</a></li> -->
        <button class="btn btn-info">Logout</button>
      </ul>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a routerLink='/dashboard' class="nav-link" >Home</a></li>
        <li class="nav-item"><a routerLink='/user-list' class="nav-link" >Faculty</a></li>
        <li class="nav-item"><a routerLink='/product-list' class="nav-link" >Student</a></li>
        <li class="nav-item"><a routerLink='/order-list' class="nav-link" >Classroom</a></li>
        <li (click)="onLogout()" class="nav-item"><a class="nav-link">Logout</a></li>
      </ul>
    </div>
  </nav> -->
