<h2>Third component</h2>

<div
[class.green-box]="boxType == 1"
[class.red-box]="boxType == 2"
[class.blue-box]="boxType == 3"
 class="box"></div>

<hr>

<ul>
    <li [class.active]="category == 1">Category 1</li>
    <li [class.active]="category == 2">Category 2</li>
    <li [class.active]="category == 3">Category 3</li>
    <li [class.active]="category == 4">Category 4</li>
    <li [class.active]="category == 5">Category 5</li>
</ul>

<hr>

<button [class.active]="category == 1">1</button>
<button [class.active]="category == 2">2</button>
<button [class.active]="category == 3">3</button>
<button [class.active]="category == 4">4</button>
<button [class.active]="category == 5">5</button>
<button [class.active]="category == 6">6</button>
<button [class.active]="category == 7">7</button>
<button [class.active]="category == 8">8</button>
<button [class.active]="category == 9">9</button>
<button [class.active]="category == 10">10</button>

