<h2>Employee List</h2>

<div>ID: {{employee['id']}}</div>
<div>Name: {{employee['name']}}</div>
<div>Department: {{employee['department']}}</div>
<div>Salary: {{employee['salary']}}</div>
<div>Role: {{employee['role']}}</div>

<hr>

<div class="employee" *ngFor = "let employee of employees">
    <div>ID: {{employee['id']}}</div>
    <div>Name: {{employee['name']}}</div>
    <div>Department: {{employee['department']}}</div>
    <div>Salary: {{employee['salary']}}</div>
    <div>Role: {{employee['role']}}</div>
</div>    

<hr>
<hr>

<div *ngFor = "let employee of employees">
<div>ID: {{employee['id']}}</div>
<div>Name: {{employee['name']}}</div>
<div>Department: {{employee['department']}}</div>
<div>Salary: {{employee['salary']}}</div>
<div>Role: {{employee['role']}}</div>
</div>


<hr>
<hr>


<!-- 
<div>ID: {{employees[0]['id']}}</div>
<div>Name: {{employees[0]['name']}}</div>
<div>Department: {{employees[0]['department']}}</div>
<div>Salary: {{employees[0]['salary']}}</div>
<div>Role: {{employees[0]['role']}}</div>
<p></p>
<div>ID: {{employees[1]['id']}}</div>
<div>Name: {{employees[1]['name']}}</div>
<div>Department: {{employees[1]['department']}}</div>
<div>Salary: {{employees[1]['salary']}}</div>
<div>Role: {{employees[1]['role']}}</div>

<p></p>
<div>ID: {{employees[2]['id']}}</div>
<div>Name: {{employees[2]['name']}}</div>
<div>Department: {{employees[2]['department']}}</div>
<div>Salary: {{employees[2]['salary']}}</div>
<div>Role: {{employees[2]['role']}}</div> -->