<h2>Add Product</h2>

<div class="form">
    <div class="form-group">
        <label for="">Title</label>
        <input [(ngModel)]="title" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input [(ngModel)]="price"  type="number" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <textarea [(ngModel)]="description"  class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="">Category</label>
        <select [(ngModel)]="category"  class="form-control">
            <option value="1">Electronics</option>
            <option value="2">Home decore</option>
            <option value="3">Computers</option>
            <option value="4">mobiles</option>

        </select>
        </div>
    <div class="form-group">
        <button (click)="onSave()" class="btn btn-success">Save</button>
        <button (click)="onCancel()" style="margin-left: 10px;" class="btn btn-danger">Cancle</button>

    </div>    
</div>