<p>first workes!!</p>

<div>First Name = {{firstName}}</div>
<div>Last Name = {{lastName}}</div>

<hr>

<div class="person1">
<div>Name: {{person.name}}</div>
<div>Age: {{person.age}}</div>
<div>Address: {{person.address}}</div>
<div>Phone: {{person.phone}}</div>
<div>Email: {{person.email}}</div>
</div>

<hr>

<div class="person2">
<div>Name: {{person['name']}}</div>
<div>Age: {{person['age']}}</div>
<div>Address: {{person['address']}}</div>
<div>Phone: {{person['phone']}}</div>
<div>Email: {{person['email']}}</div>
</div>