<h2>smiley face</h2>

<div [ngSwitch]="face">
    <img *ngSwitchCase="'disappointed'" src="assets/disappointed.png" alt="">
    <img *ngSwitchCase="'sad'" src="assets/sad.png" alt="">
    <img *ngSwitchCase="'happy'"  src="assets/happy.png" alt="">
    <img *ngSwitchCase="'neutral'"  src="assets/neutral.png" alt="">
    <img *ngSwitchCase="'puzzled' " src="assets/puzzled.png" alt="">
    <img *ngSwitchCase="'surprised' " src="assets/surprised.png" alt="">
</div>

<button (click) = "face = 'disappointed'"  class="btn btn-info">disappointed</button>
<button (click) = "face = 'sad'" class="btn btn-info">sad</button>
<button (click) = "face = 'happy'" class="btn btn-info">happy</button>
<button (click) = "face = 'neutral'" class="btn btn-info">neutral</button>
<button (click) = "face = 'puzzled'" class="btn btn-info">puzzled</button>
<button (click) = "face = 'surprised'" class="btn btn-info">surprised</button>


<!-- <img *ngIf="face == 'disappointed'" src="assets/disappointed.png" alt="">
<img *ngIf="face == 'sad'" src="assets/sad.png" alt="">
<img *ngIf="face == 'happy'" src="assets/happy.png" alt="">
<img *ngIf="face == 'neutral'" src="assets/neutral.png" alt="">
<img *ngIf="face == 'puzzled'" src="assets/puzzled.png" alt="">
<img *ngIf="face == 'surprised'" src="assets/surprised.png" alt=""> -->