<h2>Rating stars</h2>

<img src="assets/star.png" *ngFor="let rating of ratings" alt="">

<hr>

<img *ngIf="rating >= 1" src="assets/star.png" alt="">
<img *ngIf="rating >= 2" src="assets/star.png" alt="">
<img *ngIf="rating >= 3" src="assets/star.png" alt="">
<img *ngIf="rating >= 4" src="assets/star.png" alt="">
<img *ngIf="rating >= 5" src="assets/star.png" alt="">
