<p>forth works!</p>

<button (click)="handleClick()">Click here</button>

<hr>

<div
[class.red-box]="boxColor == 1"
[class.green-box]="boxColor == 2"
[class.brown-box]="boxColor == 3"
[class.blue-box]="boxColor == 4"
[class.yellow-box]="boxColor == 5"
 class="box"></div>


<button (click) = changeColor(1)>red</button>
<button (click) = changeColor(2)>green</button>
<button (click) = changeColor(3)>brown</button>
<button (click) = changeColor(4)>blue</button>
<button (click) = changeColor(5)>yellow</button>


