.box{
    width: 100px;
    height: 100px;
    border: solid 3px black;
}

.red-box{
    background-color: red;
}

.green-box{
    background-color: green;
}

.brown-box{
    background-color: brown;
}

.blue-box{
    background-color: blue;
}

.yellow-box{
    background-color: yellow;
}