<h2>Add Product</h2>

<div class="form">
    <div class="form-group">
        <label for="">Title</label>
        <input (keyup)="onKeyUpTitle($event)" (keydown)="onKeyDown($event)" (change)="onTitleChange($event)" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input (keyup)="onKeyUpPrice($event)" type="number" class="form-control">
    </div>
     <div class="form-group">
        <label for="">Category</label>
        <select class="form-control">
            <option value="1">Electronics</option>
            <option value="2">Home Decore</option>
            <option value="3">Computers</option>
            <option value="4">Mobiles</option>
        </select>
        </div>
     <div class="form-group">
        <label for="">Description</label>
        <textarea (keyup)="onKeyUpDescription($event)" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group">
        <button (click)="onSave($event)" class="btn btn-success">Save</button>
        <button (click)="onCancel($event)" style="margin-left: 10px;" class="btn btn-danger">Cancel</button>

    </div>
</div>