<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin Panel</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a routerLink='/dashboard' class="nav-link" href="#">Dashboard</a></li>
      <li class="nav-item"><a routerLink='/user-list' class="nav-link" href="#">Users</a></li>
      <li class="nav-item"><a routerLink='/product-list' class="nav-link" href="#">Products</a></li>
      <li class="nav-item"><a routerLink='/order-list' class="nav-link" href="#">Orders</a></li>
      <li  class="nav-item"><a (click)="onLogout()" class="nav-link" href="#">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 10px">
  <router-outlet></router-outlet>
</div>