<div class="card">
    <div class="card-header">
        <h4>Product List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products, let index = index">
                    <td>{{index + 1}}</td>
                    <td>
                        <img class="product-img" src="http://localhost:3000/product/image/{{product['image']}}" alt="">
                    </td>
                    <td>{{product['title']}}</td>
                    <td>{{product['price']}}</td>
                    <td>{{product['brand']['title']}}</td>
                    <td>{{product['category']['title']}}</td>
                    <td>{{product['isAvtive']}}</td>
                    <td>
                        <button 
                        (click)="toggleActive(product)"
                        [class.btn-success]="product['isAvtive'] != 1"
                        [class.btn-danger]="product['isAvtive'] == 1"
                        class="btn btn-sm">{{product['isAvtive'] == 1 ? 'Suspend' : 'Activate'}}</button>

                        <button (click) ="onEdit(product)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Edit</button>
                        <button style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>