<h2>Product List</h2>

<button style="float: right; margin-bottom: 10px;" class="btn btn-success btn-sm">Add</button>
<h4 *ngIf="products.length == 0">There is no product at the moment, please add a one using Add button</h4>

<table *ngIf="products.length > 0" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 50px;">No.</th>
            <th style="width: 150px;">Title</th>
            <th>Description</th>
            <th style="width: 150px;">Category</th>
            <th style="width: 100px;">Price</th>
            <th style="width: 200px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products, let i = index">
            <td>{{i+1}}</td>
            <td>{{product['title']}}</td>
            <td>{{product['description']}}</td>
            <td>{{product['category']}}</td>
            <td>{{product['price']}}</td>
            <td>
                <button (click)="onEdit(product)" class="btn btn-warning">Edit</button>
                <button (click)="onDelete(product, i)" style="margin-left: 10px;" class="btn btn-danger">Delete</button>

            </td>
        </tr>
    </tbody>
</table>